.Button {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  background: #f2f2f2;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}
.Danger {
  background: #e74c3c;
  border-color: #c0392b;
  color: #fff;
}
.Success {
  background: #2ecc71;
  border-color: #27ae60;
  color: #fff;
}
